<div class="password-reset-container">
    <h2 class="title">Change Password</h2>
    <div class="form-container">
        <form (ngSubmit)="resetPassword($event)">
            <!-- New Password -->
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword"
                    placeholder="Enter new password" [(ngModel)]="reset.newPassword" required>
            </div>
            <!-- Confirm Password -->
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                    placeholder="Confirm new password" [(ngModel)]="reset.confirmPassword" required>
            </div>
            @if (reset.confirmPassword !== reset.newPassword) {
            <div class="error-message">
                Passwords do not match.
            </div>
        }
            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
        </form>
    </div>
</div>